.select {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: visible;
    background: whitesmoke;

    & .icon {
        height: var(--select_icon--height, var(--select_icon--size, .75rem));
        width: var(--select_icon--width, var(--select_icon--size, .75rem));
        position: absolute;
        top: calc((100% - var(--select_icon--height)) / 2);
        right: .5rem;
        pointer-events: none;
    }

    & .title {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: var(--control--height, 2.5rem);
        line-height: var(--control--height, 2.5rem);
        padding: 0;
        padding-left: var(--control--padding-left, var(--control--padding, 1rem));
        padding-right: calc(var(--control--padding-right, var(--control--padding, 1rem)) + var(--select_icon--width, var(--select_icon--size, 1.5rem)));
        cursor: pointer;
        background: transparent;
        box-shadow: 0 0 .25rem 0 rgba(0, 0, 0, 0.4);
    }

    & input {
        display: none;
    }

    & .options {
        position: absolute;
        margin: 0;
        padding: 0;
        list-style: none;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        min-width: 100%;
        box-shadow: 0 0 .125rem 0 rgba(0, 0, 0, 0.4);
        background: color-mix(in srgb, whitesmoke 30%, white);
        z-index: 2;

        & .option {
            height: var(--control--height, 2.5rem);
            line-height: var(--control--height, 2.5rem);
            padding: 0;
            padding-left: var(--control--padding-left, var(--control--padding, 1rem));
            padding-right: calc(var(--control--padding-right, var(--control--padding, 1rem)) + var(--select_icon--width, var(--select_icon--size, 1.5rem)));
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
        }
    }

    & input:nth-of-type(1):checked~.options :nth-child(1) .option,
    & input:nth-of-type(2):checked~.options :nth-child(2) .option,
    & input:nth-of-type(3):checked~.options :nth-child(3) .option,
    & input:nth-of-type(4):checked~.options :nth-child(4) .option,
    & input:nth-of-type(5):checked~.options :nth-child(5) .option {
        background: #C5CBE9;
        color: rgba(0, 0, 0, .87);
    }

    & input:not(:checked)+.title {
        visibility: hidden;
    }

    & .open:not(:checked)+.options {
        display: none !important;
    }
}