button,
.button {
    all: unset;
    height: var(--control--height);
    line-height: var(--control--height);
    padding: 0 var(--control--padding);
    background: #C5CBE9;
    color: rgba(0, 0, 0, 0.87);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 .25rem 0 color-mix(in srgb, #C5CBE9 40%, white);
    cursor: pointer;
    display: flex;
    align-items: center;

    & .icon {
        height: var(--control_icon--height);
        width: var(--control_icon--width);
    }

    &.primary {
        background: #29379D;
        color: rgba(255, 255, 255, 0.87);
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 .25rem 0 color-mix(in srgb, #29379D 40%, white);
    }

    &.danger {
        background: #7c0000;
        color: rgba(255, 255, 255, 0.87);
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 .25rem 0 color-mix(in srgb, #7c0000 40%, white);
    }

    &.disabled,
    &:disabled,
    &[disabled] {
        background: color-mix(in srgb, grey 20%, whitesmoke);
        cursor: default;
    }
}