* {
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url('./font/Roboto.ttf');
}

body,
html {
    margin: 0;
    padding: 0;
    user-select: none;
    color: rgba(255, 255, 255, .87);
    font-family: Roboto;
    font-size: 14px;
}

body {
    background-color: black;
    background-image:
        radial-gradient(circle at 4px, rgba(255, 255, 255, .2), transparent 2px);
    background-repeat: space;
    background-size: 8px 8px;
    background-attachment: fixed;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 1rem;
    gap: 2rem;
    background: var(--widget-background-bottom), var(--widget-background-color);
    border-bottom: .75px solid var(--color-alt5);
    box-shadow: 0 0 2px 0 var(--color-alt5);
    z-index: 1;

    & .actions {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.main-content {
    margin-top: calc(90px + 1rem);
    padding: 0 1rem;
    min-height: calc(100vh - calc(90px + 1rem));
    position: relative;
    padding-bottom: 6rem;
}

@property --widget-background-top {
    syntax: "<bg-layer>";
    inherits: true;
    initial-value: black;
}

@property --widget-background-bottom {
    syntax: "<bg-layer>";
    inherits: true;
    initial-value: black;
}


.widget {
    background:
        var(--widget-background-top),
        var(--widget-background-bottom),
        var(--widget-background-color);
    border: .75px solid var(--color-alt5);
    border-radius: 2px;
    box-shadow: 0 0 2px 0 var(--color-alt5);
}

:root {
    --widget-background-color: #000000B4;
    --widget-background-gradient-color-opaque: hsla(197, 100%, 25%, 0.627);
    --widget-background-gradient-color-non-opaque: hsla(197, 100%, 25%, 0);
    --widget-background-gradient-opacity: .65;
    --widget-background-top--image: linear-gradient(to bottom,
            color-mix(in srgb, var(--widget-background-gradient-color-opaque) calc(var(--widget-background-gradient-opacity) * 100%), transparent),
            color-mix(in srgb, var(--widget-background-gradient-color-non-opaque) calc(var(--widget-background-gradient-opacity) * 100%), transparent) 33%);
    --widget-background-bottom--image: linear-gradient(to top,
            color-mix(in srgb, var(--widget-background-gradient-color-opaque) calc(var(--widget-background-gradient-opacity) * 100%), transparent),
            color-mix(in srgb, var(--widget-background-gradient-color-non-opaque) calc(var(--widget-background-gradient-opacity) * 100%), transparent) 33%);
    --widget-background-top--height: 50px;
    --widget-background-top: top left/100% var(--widget-background-top--height) var(--widget-background-top--image) no-repeat;
    --widget-background-bottom--height: 50px;
    --widget-background-bottom: bottom left/100% var(--widget-background-bottom--height) var(--widget-background-bottom--image) no-repeat;
}

:root {

    --color-0: hsl(44, 100%, 14%);
    --color-1: hsl(43, 100%, 17%);
    --color-2: #7F5C00FF;
    --color-3: hsl(44, 100%, 30%);
    --color-4: hsl(44, 100%, 33%);
    --color-5: hsl(44, 100%, 40%);
    --color-6: #FFBC0AFF;
    --color-7: #FFDC80FF;

    --color-alt0: hsl(196, 100%, 14%);
    --color-alt1: hsl(197, 100%, 17%);
    --color-alt2: hsl(197, 100%, 25%);
    --color-alt3: hsl(196, 100%, 30%);
    --color-alt4: hsl(196, 100%, 33%);
    --color-alt5: hsl(196, 100%, 40%);
    --color-alt6: hsl(196, 100%, 52%);
    --color-alt7: hsl(197, 100%, 75%);

    --color-red0: #470512FF;
    --color-red1: #570716FF;
    --color-red2: #7F0A20FF;
    --color-red3: #990C26FF;
    --color-red4: #A80D2AFF;
    --color-red5: #CC0F33FF;
    --color-red6: #EE123BFF;
    --color-red7: #FF143BFF;

    --color-green0: #053617FF;
    --color-green1: #06451EFF;
    --color-green2: #0A6E30FF;
    --color-green3: #0C873BFF;
    --color-green4: #0E9642FF;
    --color-green5: #11BA52FF;
    --color-green6: #14DB60FF;
    --color-green7: #15EE6AFF;

    --color-label-foreground: white;
    --color-alt-label-foreground: #99DCFFFF;
}

.main-footer {
    --tint: .7;
    --q: color-mix(in srgb, rgba(10, 188, 255) 40%, black);
    --w: #A8007AFF;
    --w: #FF0ABCFF;
    --w: #0094CCFF;
    display: flex;
    place-content: center;
    place-items: center;
    position: absolute;
    height: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #999999;
    background: var(--widget-background-top), var(--widget-background-color);
    border-top: .75px solid var(--color-alt5);
    box-shadow: 0 0 2px 0 var(--color-alt5);
}

#mods-view {
    & .search {
        display: flex;
        align-items: stretch;
        position: relative;
        height: 2.5rem;
        margin-bottom: 2rem;
        gap: 1rem;

        & .field {
            display: flex;
            align-items: stretch;
            position: relative;
            flex: auto;
            width: 100%;
        }

        & input[type=search] {
            border: 0;
            box-shadow: none;
            padding: 0;
            padding-left: 2.5rem;
            padding-right: 1rem;
            line-height: 2.5rem;
            margin: 0;
            background: transparent;
            border: 1px solid black;
            border-right: 0;
            flex: auto;
            width: 100%;

            &:focus {
                outline: none;
                box-shadow: 0 0 .25rem 0 rgba(0, 0, 0, 0.4);
            }
        }

        & .icon {
            pointer-events: none;
            width: 1.5rem;
            height: 1.5rem;
            position: absolute;
            top: .5rem;
            left: .5rem;
        }

        & button[type=submit] {
            flex: none;
            background: black;
            color: whitesmoke;
            border: 0;
            box-shadow: none;
            padding: 0 1rem;
        }
    }
}

[hidden],
.hidden {
    display: none !important;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}


.drop-overlay.control:not(:checked)~.drop-overlay.content {
    display: none;
}

.drop-overlay.content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, .87);
    display: flex;
    place-content: center;
    place-items: center;
    padding: 4rem;
}

dialog {
    border: 0;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);

    &:not([open]) {
        display: none !important;
    }
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

#upload-mod-dialog {
    display: flex;
    flex-direction: column;
    place-content: stretch;
    place-items: stretch;
    gap: 1rem;
    padding: 2rem;
    width: calc(100% - 8rem);
    max-height: calc(100% - 8rem);
    height: 100%;
}

:root {
    --control--height: 2.5rem;
    --control--padding: 1rem;
    --control_icon--size: 1.5rem;
    --control_icon--height: var(--control_icon--size, 1.5rem);
    --control_icon--width: var(--control_icon--size, 1.5rem);
}

.notification-list {
    list-style: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 100%;
    max-width: 20rem;
}

.notification-entry {
    margin: 0;
    padding: 1rem;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    pointer-events: all;
    border: 1px solid black;
    border-radius: 2px;
    background: whitesmoke;

    &:empty {
        display: none;
    }

    & progress {
        width: 100%;
    }
}

#view-switch-control-mods:not(:checked)~* #mods-view,
#view-switch-control-mods:checked~* #view-switch-icon-mods,
#view-switch-control-config:not(:checked)~* #config-view,
#view-switch-control-config:checked~* #view-switch-icon-config,
#view-switch-control-mod:checked~* #view-switch-icon-mods,
#view-switch-control-mod:not(:checked)~* #mod-view {
    display: none;
}

.mod-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:empty {
        display: none;
    }

    &:not(:empty)~.mod-list--error,
    &:not(:empty)~.mod-list--empty {
        display: none;
    }

}

.mod-list--error {
    &:empty {
        display: none;
    }

    &:not(:empty)+.mod-list--empty {
        display: none;
    }
}

#mod-view {
    position: relative;
    display: flex;
    flex-direction: column;

    & .status-switch.control {
        display: none !important;

        &:checked~.status-switch.icon.disabled,
        &:checked~* .status-switch.title.disabled,
        &:not(:checked)~.status-switch.icon.enabled,
        &:not(:checked)~* .status-switch.title.enabled {
            visibility: hidden;
        }
    }

    & .header {
        background: white;
        position: fixed;
        top: 4rem;
        left: 0;
        width: 100%;
        height: 4rem;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        &::before {
            box-sizing: border-box;
            display: block;
            position: absolute;
            pointer-events: none;
            content: '';
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            left: 1rem;
            top: 1rem;
            bottom: 0;
            z-index: 0;
            background: wheat;
            width: calc(100% - 2rem);
        }

        &>* {
            position: relative;
            z-index: 1;
        }

        & .title {
            flex: auto;
            font-weight: bolder;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        & .version {
            color: darkslateblue;
            padding: .125rem;
            border-radius: .125rem;
            background: color-mix(in srgb, #4A358C 10%, white);
            flex: none;
            font-weight: lighter;
        }
    }

    & .description {
        margin-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        background: wheat;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    & .footer {
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        background: wheat;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;

        & .actions {
            flex: none;
        }
    }

    & .author {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}